@use '../../../styles.scss' as styles3;

:host {
    --button-height: 30px;
    --button-width: 200px;
    --button-font-size: 14px;
    --button-border-radius: 20px;
    --icon-size: 20px;
    --table-button-size: 40px;
    --mobile-button-height: 25px;
    --mobile-button-width: 180px;
    --mobile-button-font-size: 12px;
    --mobile-icon-size: 15px;
    --mobile-table-button-size: 30px;
}


$primary-blue: #020c41;

.titleCat {
    margin-bottom: -40px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -307px;
    width: 100%;
    height: 180px;
}

.titleComponent {
    position: relative;
    top: 40px;
    font-size: 40pt;
    text-align: left;
    left: 80px;
    color: white;
}

.titleComponent {
    padding-left: 50px;
    font-size: 25pt;
}

.custom-header-style {
    background-color: $primary-blue !important;
    color: white;
    font-weight: bold;
}

.table-wrapper {
    max-width: 90%;
    margin: 0 auto;
    overflow-x: auto;
}

.search-card {
    border-radius: 16px;
    padding: 16px;
    max-width: 80%;
    margin: 0 auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form-horizontal {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
}

.search-field-wrapper {
    display: flex;
    flex-direction: column;
}

.field-label {
    font-weight: 500;
    font-size: 13px;
    color: #1a1a1a;
    margin-bottom: 4px;
}

.search-field {
    width: 350px;
}

.botones-fila {
  justify-content: center;
  padding-left: 5%;
}

.btn-buscar {
  border-radius: 20px;
  padding: 6px 30px;
  font-weight: 500;
  width: 200px;
}

/* Phone */
@media only screen and (min-device-width: 320px) and (max-width: 599px) and (orientation: portrait) {
  .home_container {
    min-height: 91dvh;
  }

  .div_header {
    height: 150px;
  }

  .text_title {
    font-size: 20px;
  }
  
  .titleComponent {
    font-size: 18pt;
    left: -20px;
    top: 80px;
  }

  .search-field {
    width: 100%;
  }

  .btn-buscar {
    width: 100%;
  }

  .search-form-horizontal {
    flex-direction: column;
    gap: 10px;
  }

  .botones-fila {
    padding-left: 0;
    justify-content: center;
  }

  .table-wrapper {
    max-width: 90%;
    margin: 0 auto;
    overflow-x: auto;
  }
}

/* Landscape Phone */
@media only screen and (max-width: 599px) and (orientation: landscape) {
  .home_container {
    min-height: 90.2dvh;
  }

  .div_header {
    height: 130px;
  }

  .text_title {
    font-size: 20px;
  }

  .titleComponent {
    font-size: 16pt;
    left: 20px;
  }

  .table-wrapper {
    max-width: 90%;
    margin: 0 auto;
    overflow-x: auto;
  }
}

/* Tablet Portrait */
@media only screen and (min-width:600px) and (max-width: 839px) and (orientation: portrait) {
  .home_container {
    min-height: 90.2dvh;
  }

  .div_header {
    height: 150px;
  }

  .text_title {
    font-size: 30px;
  } 

  .titleComponent {
    font-size: 24pt;
    left: -20px;
    top: 80px;
  }

  .search-field {
    width: 100%;
  }

  .btn-buscar {
    width: 100%;
  }

  .table-wrapper {
    max-width: 90%;
    margin: 0 auto;
    overflow-x: auto;
  }
}

/* Tablet Landscape */
@media only screen and (min-width:600px) and (max-width: 839px) and (orientation: landscape) {
  .home_container {
    min-height: 87dvh;
  }

  .div_header {
    height: 150px;
  }

  .text_title {
    font-size: 30px;
  }  
  
  .titleComponent {
    font-size: 26pt;
    left: -20px;
    top: 80px;
  }

  .search-field {
    width: 80%;
  }

  .table-wrapper {
    max-width: 90%;
    margin: 0 auto;
    overflow-x: auto;
  }
}

/* Desktop */
@media only screen and (min-width:840px) and (max-width: 1289px) {
  .home_container {
    min-height: 90dvh;
  }

  .div_header {
    height: 150px;
  }

  .text_title {
    font-size: 30px;
  }   

  .titleComponent {
    font-size: 30pt;
    left: 60px;
    top: 80px;
  }

  .search-field {
    width: 300px;
  }

  .table-wrapper {
    max-width: 90%;
    margin: 0 auto;
    overflow-x: auto;
  }
}

/* Monitors */
@media only screen and (min-width:1290px) {
  .home_container {
    //height: 100%;
    min-height: 90.1dvh;
  }

  .div_header {
    height: 200px;
    width: 100%;
  }  
  .table-wrapper {
    max-width: 90%;
    margin: 0 auto;
    overflow-x: auto;
  }
}

  .home_container {
    min-height: 87dvh;
  }

  .div_header {
    height: 150px;
  }

  .text_title {
    font-size: 30px;
  }  
  
  .titleComponent {
    font-size: 26pt;
    left: -20px;
    top: 80px;
  }

  .search-field {
    width: 80%;
  }

  .table-wrapper {
    max-width: 90%;
    margin: 0 auto;
    overflow-x: auto;
  }

.div_container {
    min-height: 68dvh;
    width: 100%;
}

.div_breadcrumb {
    padding: 60px;
    font-size: 13px;
    padding-left: 12px;
}

.div_header {
  display: flex;
  align-items: center;
  background-image: url("../../../assets/images/Menu/Vuelos.png");
  background-size: cover;
  background-position: center;
  background-color: #ffffff70;
  background-blend-mode: overlay;
}

.a_ayb {
    color: #07e7cc;
    font-weight: bold;
}

.div_expansion_panel {
    display: flex;
    justify-content: center;
    width: 100%;
}

.expansion_panel {
    width: min(60%, 800px);
}

.container_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.div_upload {
    width: min(80%, 1200px);
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.div_table {
    width: min(80%, 1200px);
}

.upload_btn {
    width: var(--button-width);
    height: var(--button-height);
    font-size: var(--button-font-size);
    border-radius: var(--button-border-radius);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: styles3.$primary-pink;

    &:hover {
        background-color: styles3.$dark-pink;
        box-shadow: 0 0.25rem 0.5rem rgba(249, 6, 116, 0.3);
    }
}

.search_btn {
    width: var(--button-width);
    height: var(--button-height);
    font-size: var(--button-font-size);
    border-radius: var(--button-border-radius);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: styles3.$primary-darkcyan;

    &:hover {
        background-color: styles3.$primary-darkcyan;
        box-shadow: 0 0.25rem 0.5rem styles3.$dark-darkcyan;
    }

    &.btn_clearf {
        margin-right: 2%;
    }
  }

.zona-interactiva:hover {
    cursor: pointer;
}