<div class="container_table">
    <!-- Buscador -->
    <div class="div_expansion_panel">
        <mat-expansion-panel class="expansion_panel" (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header style="padding: 20px;">
                <mat-panel-title>
                    Buscador Avanzado <!-- <mat-icon class="icon_search">search</mat-icon> -->
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <form [formGroup]="searchForm">
                    <mat-form-field appearance="outline">
                        <mat-label for="numVuelo">No. Vuelo</mat-label>
                        <mat-select id="numVuelo" formControlName="flightNumber" multiple>
                            @for (vuelo of flightNumbers(); track $index) {
                            <mat-option [value]="vuelo">{{vuelo}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label for="mesCiclo">Mes Ciclo</mat-label>
                        <mat-select id="mesCiclo" formControlName="mesCiclo" multiple>
                            @for (ciclo of monthNames; track ciclo) {
                            <mat-option [value]="ciclo">{{ciclo}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label for="annio">Año</mat-label>
                        <mat-select id="annio" formControlName="annio" multiple>
                            @for (year of yearOptions(); track year) {
                            <mat-option [value]="year">{{year}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-action-row>
                        <button class="search_btn btn_clearf" (click)="clearForm()">Borrar Filtros</button>
                        <button class="search_btn" (click)="searchMenu()">Buscar</button>
                    </mat-action-row>

                </form>
            </div>
        </mat-expansion-panel>
    </div>
    <!-- Botones de carga -->
    <div class="div_upload">
        <button  class="upload_btn" (click)="uploadDialog()">Subir Excel</button>
        <button class="upload_btn" (click)="openAdd()">Nuevo Menú</button>
    </div>
    <!-- Table -->
    <div class="div_table">
        <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">
            <ng-container [matColumnDef]="column.field" *ngFor="let column of menuColumns; trackBy: trackByField">
                <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
                <td mat-cell *matCellDef="let menu">{{ menu[column.field] }}</td>
            </ng-container>

            <!-- preview -->
            <ng-container matColumnDef="preview">
                <th mat-header-cell *matHeaderCellDef> Previsualización </th>
                <td mat-cell *matCellDef="let menu">
                    <button mat-icon-button class="btn_table" (click)="previewDialog(menu)">
                        <mat-icon class="mat_icon">visibility</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- edit -->
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Editar </th>
                <td mat-cell *matCellDef="let menu">
                    <button mat-icon-button class="btn_table" (click)="openEdit(menu, '/alimentos-bebidas/menu-preselect/edit-menu')">
                        <mat-icon class="mat_icon">edit_document</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- duplicate -->
            <ng-container matColumnDef="duplicate">
                <th mat-header-cell *matHeaderCellDef> Duplicar </th>
                <td mat-cell *matCellDef="let menu">
                    <button mat-icon-button class="btn_table" (click)="openEdit(menu, '/alimentos-bebidas/menu-preselect/duplicate-menu')">
                        <mat-icon class="mat_icon">content_copy</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- delete -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                <td mat-cell *matCellDef="let menu">
                    <button mat-icon-button class="btn_table" (click)="deleteMenuDialog(menu)">
                        <mat-icon class="mat_icon">delete</mat-icon>
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
            <tr mat-row *matRowDef="let emprow; columns: displayedColumns()"></tr>
        </table>
        <mat-paginator 
            [length]="totalRecords()" 
            [pageSize]="pageSize()" 
            [pageSizeOptions]="pageSizes"
            [pageIndex]="pageNumber() - 1"
            (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>