<mat-dialog-content>
  <div class="fila titulo-fila">
    <h2 class="titulo">Eliminar Alimento</h2>
    <button mat-icon-button (click)="cerrar()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>
    <h3>¿Desea eliminar el vuelo 1 con Ruta MEX-MAD?</h3>
  </div>
  <div class="fila botones-fila">
    <button mat-raised-button color="primary" class="btn-buscar" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" class="btn-buscar" (click)="guardar()">Eliminar</button>
  </div>
</mat-dialog-content>