@use '../../../../../styles.scss' as styles;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.formulario {
    width: 80%;
    margin-bottom: 1%;
}

.form_global {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mat_form {
    width: 20%;
    margin-right: 2%;
}

.platillo_add {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1%;
}

.add_platillo_btn {
    width: 200px;
    height: 30px;
    font-size: 14px;
    border-radius: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: styles.$primary-pink;
    margin-right: 2%;
}

.add_platillo_btn:hover {
    background-color: styles.$dark-pink;
    box-shadow: 0 4px 8px rgba(249, 6, 116, 0.3);
}

.div_expansion_panel {
    margin-bottom: 1%
}

.mat-expansion-panel-header {
    padding: 10px;
}

.mat-expansion-panel-header-title {
    padding: 10px;
    justify-content: space-between;
}

.delete_platillo_btn {
    width: 175px;
    height: 25px;
    font-size: 12px;
    border-radius: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #e91b2f;
    margin-right: 2%;
}

.delete_platillo_btn:hover {
    background-color: #e91b2f;
    box-shadow: 0 4px 8px #e91b3075;
}

.form_platillo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.mat_platillo {
    width: 25%;
    padding: 10px;
}

.div_btn_delete {
    padding: 10px;
}

.div_tab {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tab_input {
    width: 30%;
    padding: 10px;
}

.tab_textarea {
    width: 70%;
    padding: 10px;
}

.platillo_save {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 200px;
    height: 30px;
    font-size: 14px;
    border-radius: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #00588A;
}

.btn:hover {
    background-color: #00588A;
    box-shadow: 0 4px 8px #00578a89;
}

.btn:disabled,
.btn[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}


//Select
.mat-mdc-option.mdc-list-item {
    padding: 10px;
}

//////--------------------------------

.div_content_image {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
}

.preview {
    max-width: 200px;
    vertical-align: middle;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.mat-input-element {
    font-size: medium;
    font-weight: 200;
}

#fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
}

.mat_image {
    //width: 35%;
    padding: 10px;
    height: 10%;
}

.message_error {
    padding: 15px;
    color: red;
}

.div_img {
    width: 100%;
}

.mat_toolbar_img {
    background-color: #fff;
    height: 10%;
}

.input_name {
    font-size: 16px !important;
}

.input_img {
    width: 100%;
}

.div_load_img {
    width: 150px;
    height: 150px;
}

.div_tab_content {
    margin-top: 1%;
}

/* Phone */
@media only screen and (min-device-width: 320px) and (max-width: 599px) and (orientation: portrait) {
    .form_global {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .mat_form {
        width: 100%;
    }

    .platillo_add {
        margin-bottom: 2%;
    }

    .add_platillo_btn {
        width: 150px;
        height: 25px;
        font-size: 12px;
    }

    .delete_platillo_btn {
        width: 125px;
        height: 22px;
    }

    .form_platillo {
        flex-direction: column;
        margin-bottom: 3%;
    }

    .mat_platillo {
        width: 100%;
    }

    .div_content_image {
        width: 100%;
    }

    .div_tab {
        flex-direction: column;
    }

    .tab_input {
        width: 100%;
    }

    .platillo_save {
        margin-top: 2%;
    }

    .tab_textarea {
        width: 100%;
    }

    .btn {
        width: 150px;
        height: 25px;
        font-size: 11px;
    }
}

@media only screen and (max-width: 599px) and (orientation: landscape) {
    .form_global {
        flex-direction: column;
    }

    .mat_form {
        width: 100%;
    }

    .add_platillo_btn {
        width: 150px;
        height: 25px;
        font-size: 12px;
    }

    .delete_platillo_btn {
        width: 130px;
        height: 22px;
        font-size: 11px;
    }

    .form_platillo {
        flex-direction: column;
    }

    .mat_platillo {
        width: 100%;
    }

    .div_content_image {
        width: 100%;
    }

    .mat_image {
        padding: 0%;
    }

    .tab_input {
        width: 100%;
    }

    .tab_textarea {
        width: 100%;
    }

    .platillo_save {
        margin-top: 2%;
    }

    .btn {
        width: 160px;
        height: 25px;
        font-size: 12px;
    }
}

/* Tablet */
@media only screen and (min-width:600px) and (max-width: 839px) and (orientation: portrait) {
    .container {
        background: #5e8a00;
    }

    .mat_form {
        width: 50%;
        padding: 5px;
        margin-right: 0%;
    }

    .add_platillo_btn {
        width: 180px;
        height: 25px;
        font-size: 11px;
    }

    .delete_platillo_btn {
        width: 140px;
        height: 20px;
        font-size: 11px
    }

    .mat_platillo {
        width: 50%;
    }

    .div_content_image {
        width: 80%;
    }

    .tab_input {
        width: 100%;
    }

    .tab_textarea {
        width: 100%;
    }

    .btn {
        width: 170px;
        height: 25px;
        font-size: 12px;
    }
}

@media only screen and (min-width:600px) and (max-width: 839px) and (orientation: landscape) {}

/* Desktop */
@media only screen and (min-width:840px) and (max-width: 1289px) {}

/*Monitors*/
@media only screen and (min-width:1290px) {}