@use '../../../styles.scss' as styles;

/* Phone */
@media only screen and (min-device-width: 320px) and (max-width: 599px) and (orientation: portrait) {

  .home_container {
    min-height: 91dvh;
  }

  .div_header {
    height: 150px;
  }

  .text_title {
    font-size: 20px;
  }

  .div_expansion_panel {
    width: 100%;
    padding: 0.625rem;
  }

  .expansion_panel {
    width:90%;
  }


  .div_table {
    width: 90%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .mat-mdc-header-cell {
    min-width: 94px;
  }

  .mat-mdc-header-row,
  .mat-mdc-row,
  .mdc-data-table__content {
    font-size: 0.75rem;
  }

  .mat-mdc-paginator {
    max-height: 60px;
  }
}

@media only screen and (max-width: 599px) and (orientation: landscape) {
  .div_header {
    height: 130px;
  }

  .text_title {
    font-size: 20px;
  }

  .div_expansion_panel {
    width: 100%;
    padding: 0.625rem;
  }

  .expansion_panel {
    width: 90%;
  }


  .div_table {
    width: 95%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .mat-mdc-header-cell {
    min-width: 94px;
  }

  .mat-mdc-header-row,
  .mat-mdc-row,
  .mdc-data-table__content {
    font-size: 0.75rem;
  }

  .mat-mdc-paginator {
    max-height: 60px;
  }
}


/* Tablet */

@media only screen and (min-width:600px) and (max-width: 839px) and (orientation: portrait) {
  .home_container {
    min-height: 90.2dvh;
  }

  .div_header {
    height: 150px;
  }

  .text_title {
    font-size: 30px;
  }

  .div_expansion_panel {
    width: 90%;
  }

  .expansion_panel {
    width: 90%;
  }




  .div_table {
    width: 90%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .mat-mdc-header-cell {
    min-width: 94px;
  }

  .mat-mdc-header-row,
  .mat-mdc-row,
  .mdc-data-table__content {
    font-size: 0.75rem;
  }

  .mat-mdc-paginator {
    max-height: 60px;
  }
}

@media only screen and (min-width:600px) and (max-width: 839px) and (orientation: landscape) {
  .home_container {
    min-height: 87dvh;
  }

  .div_header {
    height: 120px;
  }

  .text_title {
    font-size: 20px;
  }

  .div_expansion_panel {
    width: 90%;
  }

  .expansion_panel {
    width: 90%;
  }


  .div_table {
    width: 90%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .mat-mdc-header-cell {
    min-width: 94px;
  }

  .mat-mdc-header-row,
  .mat-mdc-row,
  .mdc-data-table__content {
    font-size: 0.75rem;
  }

  .mat-mdc-paginator {
    max-height: 60px;
  }
}

/* Desktop */

@media only screen and (min-width:840px) and (max-width: 1289px) {
  .home_container {
    min-height: 90dvh;
  }

  .div_header {
    height: 150px;
  }

  .text_title {
    font-size: 30px;
  }

  .expansion_panel {
    width: 80%;
  }

  .div_table {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .mat-mdc-header-cell {
    min-width: 94px;
  }
}

/*Monitors*/
@media only screen and (min-width:1290px) {
  .home_container {
    //height: 100%;
    min-height: 90.1dvh;
  }

  .div_header {
    height: 200px;
    width: 100%;
  }

  .div_expansion_panel {
    width: min(80%, 1000px);
  }

  .expansion_panel {
    width: min(60%, 900px);
  }
}

.div_header {
  display: flex;
  align-items: center;
  background-image: url("../../../assets/images/Menu/Email.jpg");
  background-size: cover;
  background-position: center;
  background-color: #ffffff70;
  background-blend-mode: overlay;
}

.text_title {
  padding: 20px;
  color: styles.$primary-blue;
}

.div_container {
  min-height: 68dvh;
  width: 100%;
}

.div_breadcrumb {
  padding: 15px;
  font-size: 13px;
}

.a_ayb {
  color: #07e7cc;
  font-weight: bold;
}

.container_table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.div_report {
  width: min(80%, 1200px);
}

.mat_report {
  width: 20%;
}

.div_expansion_panel {
  display: flex;
  justify-content: center;
  width: 100%;
}

.div_search {
  display: flex;
  gap: 1rem;
}

.action_row {
  padding: 10px;
  gap: 1rem;
}

.search_btn {
  width: 200px;
  height: 30px;
  font-size: 14px;
  border-radius: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: styles.$primary-darkcyan;

  &:hover {
    background-color: styles.$primary-darkcyan;
    box-shadow: 0 0.25rem 0.5rem styles.$dark-darkcyan;
  }

  &.btn_clearf {
    margin-right: 2%;
  }
}

.div_upload {
  width: min(80%, 1200px);
  display: flex;
  justify-content: flex-end;
}

.upload_btn {
  width: 200px;
  height: 30px;
  font-size: 14px;
  border-radius: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: styles.$primary-pink;

  &:hover {
    background-color: styles.$dark-pink;
    box-shadow: 0 0.25rem 0.5rem rgba(249, 6, 116, 0.3);
  }
}


.div_table {
  width: min(80%, 1200px);
  margin-bottom: 1%;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  justify-content: center;
  text-align: center;
}

.mat-mdc-header-row {
  background-color: styles.$primary-blue;
  color: styles.$white;
}

/* Estilos para botones en las tablas */
.btn_table {
    background-color: #007CC2;
    width: 40px !important;
    height: 40px !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.mat_icon {
    position: absolute;
    color: #fff;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

/*Estilos select*/

.mat-mdc-option.mdc-list-item {
    padding: 0.625rem;
}

.zona-interactiva:hover {
  cursor: pointer;
}